// colors
$blue: rgb(39, 207, 230);
$coral: rgb(238, 125, 84);
$grey: rgb(82, 75, 72);
$black: black;
$white: #fff;




// // font-size
// $_64px: 4rem;
// $_36px: 2.25rem;
// $_30px: 1.875rem;
// $_24px: 1.5rem;
// $_18px: 1.125rem;
// $_13px: 0.8125rem;




